@import "theme.scss";

@media screen and (max-width: $sm){
  h1{
    font-size: $fontMdH1 !important;
  }

  h2{
    font-size: $fontMdH2 !important;
  }

  h3{
    font-size: $fontMdH3 !important;
  }

  p{
      font-size: $fontMdP !important;
  }

  a{
    font-size: $fontMdA !important;
  }

.nav-item a{

  font-size: 18px !important;
}
   
  .first__container{
display: flex !important;
margin-bottom: 2% !important;
  }

  .main_text{
    h1{
      margin-bottom: 15% !important;
    }

    h3{
      margin-bottom: 12% !important;
      font-size: 50px !important;

    }

    p{
      margin-bottom: 20% !important;
    }
  }


    .first__button{
      padding:2% 25% !important;
      text-align: center !important;
     
    }
  

    .second__container{

      .about_text{
        text-align: center !important;
      }
     
      h2{
        margin-bottom: 80% !important;
        line-height: 1.5 !important;
        
        
      }

    }

    .ar_block{
      h2{
        margin-bottom: 10% !important;
      }
      .ar_block_1{
        margin-bottom: 10% !important;
      }
    }
   
 .form__btn{
  
   padding: 10% 15% !important;
   font-size: 22px !important;

  
 }
 .four__container{
   display: flex !important;
   justify-content: space-between !important;
    padding-bottom: 5% !important;
    margin-top: 15% !important;
    padding-bottom: 20% !important;
 }

 .form-control{
   padding: 3% 10% !important;
   font-size: 18px !important;
 }
 
  
}
.ar_block_1{
  h3{
    font-size: 50px !important;
  }

  .ar__button{
    font-size: 36px !important;
  }
 
}
.ar_block_2{
  h3{
    font-size: 50px !important;
  }


}



@media screen and (max-width: $xs){
  h1{
    font-size: $fontSmH1 !important;
  }

  h2{
    font-size: $fontSmH2 !important;
  }

  h3{
    font-size: $fontSmH3 !important;
  }

  p{
      font-size: $fontSmP !important;
  }

  a{
    font-size: $fontSmP !important;
  }

  .ar_block{
    h3{
      font-size: 40px !important;
    }
    P{
      font-size: 25px !important;
    }
  }

  .first__container{
    h1{
      font-size: 90px !important;
    }
    h2{
      font-size: 40px !important;
    }
    p{
      font-size: 22px !important;
    }
  }
  .second__container{
    h2{
      margin-bottom: 80% !important;
    }
    p{
      font-size: 22px !important;
    }
  }
}
