
$neohe:'Hammersmith One', sans-serif;
$opensans: 'Roboto', sans-serif;
$securityFont: Arial;

$colorWhite: #FFFF;
$colorSemiWhite: #FDFDFD;
$colorGray: #F8F8F8;
$colorYellow: #FFB700;
$dark-orange: #F2AE00;